@model IEnumerable<mvcCrudDbFirstLecture1.Context.tbl_Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purches_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selling_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purches_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.selling_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
